// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;

@brand-primary:         #cd483f;

// background of hammer icon
// #b0ceca
// hammer head - light part
// #57 77 88
// #394d58
// hammer head - dark part
// #41 55 66
// #293742
// hammer handle - light part
// # 237 89 79
// #ed594f
// hammer handle - dark part
// # 205 72 63
// #cd483f

@font-family-sans-serif:  Tahmoa, Geneva, sans-serif;
@font-family-serif:       'Palatino Linotype', 'Book Antiqua', Palatino, serif;
