// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;

@brand-primary:         #8359ca;

@font-family-sans-serif:  Tahmoa, Geneva, sans-serif;
@font-family-serif:       'Palatino Linotype', 'Book Antiqua', Palatino, serif;
